*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.app{
    width: 100%;
    max-width: 400px;
    margin: 8% auto 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    background:radial-gradient(#fff, #be0b37);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

button{
    width: 150px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background: #111;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #111;
    outline: none;

}